An admin invite url fails if the email contains `+` sign

# Subject of the issue

The admin invite URL interprets the `email` param incorrectly if the email contains a `+` sign

# Steps to reproduce

1. Invites an admin to the system with a new email address
2. Click the verification link that's attached to the invite email
3. Sets the password and click "Create Account"
4. `user:invite_not_found` is displayed

# Expected behavior

Password setting should be successful and the new user can login. The email address in the invite url should replace `+` with `%2B`.

# Actual behavior

The `+` sign in the email address got converted to a space. So the email address is incorrect and the invite could not be found.

For reference: https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4

> Space characters are replaced by `+', and then reserved characters are escaped as described in [RFC1738], section 2.2